{% trans_default_domain('admin.wb.orders') %}





<span
        class="pointer"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-delay='{"show":600,"hide":100}'
        title='Статус сборочного задания в системе Wildberries'
>


{# сборочное задание в работе #}
{% if value == 'waiting' %}
    <span class="badge bg-light text-dark">
        {{ value|trans }}
    </span>



{# сборочное задание отсортировано  #}
{% elseif value == 'sorted' %}
    <span class="badge bg-warning text-dark">
        {{ value|trans }}
    </span>



{# сборочное задание получено покупателем #}
{% elseif value == 'sold' %}
    <span class="badge bg-success">{{ value|trans }}</span>


{# отмена сборочного задания #}
{% elseif value == 'canceled' %}
    <span class="badge bg-danger">{{ value|trans }}</span>



{# отмена сборочного задания покупателем #}
{% elseif value == 'canceled_by_client' %}
    <span class="badge bg-danger">{{ value|trans }}</span>


{# отмена сборочного задания по причине брака #}
{% elseif value == 'defect' %}
    <span class="badge bg-danger">{{ value|trans }}</span>


{# сборочное задание прибыло на ПВЗ #}
{% elseif value == 'ready_for_pickup' %}
    <span class="badge bg-dark">{{ value|trans }}</span>

{% else %}
    <span class="badge bg-light text-dark">{{ 'unknown'|trans }}</span>

{% endif %}


</span>